<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../static/image/slide3.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block text-left mb-300px">
            <h3 class="text-dark">Tết này bạn muốn yên ổn?</h3>
            <button class="btn text-light bg-dark my-4">
                Hãy để chúng tôi giúp bạn
                <i class="ml-2 fas fa-thumbs-up"></i>
            </button>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../static/image/slide4.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block text-left mb-300px">
            <h3 class="text-dark">Tết này bạn muốn yên ổn?</h3>
            <button class="btn text-light bg-dark my-4">
                Hãy để chúng tôi giúp bạn
                <i class="ml-2 fas fa-thumbs-up"></i>
            </button>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../static/image/slide5.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block text-left mb-300px">
            <h3 class="text-dark">Tết này bạn muốn yên ổn?</h3>
            <button class="btn text-light  bg-dark my-4">
                Hãy để chúng tôi giúp bạn
                <i class="ml-2 fas fa-thumbs-up"></i>
            </button>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="bg-white mt-5">
    <h2 class="d-flex justify-content-center">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2>
    <br>
    <h6 class="font-italic font-explain d-flex justify-content-center">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình, người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</h6>
    <div class="my-5 d-flex justify-content-around">
        <a href="#" class="btn btn-lg active col-md-5" role="button" aria-pressed="true" style="background-image: url(../../static/image/female.jpg); height: 243px;"><p class="d-inline text-light justify-content-end align-items-center font-weight-bold text-right">Bạn là Nam</p></a>
        <a href="#" class="btn btn-lg active col-md-5" role="button" aria-pressed="true" style="background-image: url(../../static/image/male.jpg); height: 243px;"><p class="d-inline text-light justify-content-end align-items-center font-weight-bold text-left">Bạn là Nữ</p></a>
    </div>
</div>
