<div class="bg-secondary text-white border mb-0">
    <h3 class="pl-3">Gói tiêu chuẩn</h3>
</div>
<div class="border">
<p class="text-dark pl-3">Dẫn bạn về ra mắt</p> 
<p class="text-dark pl-3">Ăn cơm cùng gia đình</p>
<p class="text-dark pl-3">Cho phép nắm tay thể hiện quan tâm</p>
<p class="text-secondary pl-3">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
<p class="text-white pl-3">0</p>
</div>
<div class="border">
<div class="btn btn-dark text-light my-2">
    <i class="far fa-heart"></i>
    Tìm hiểu thêm
</div>
</div>