<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <a href="{{ url_for("logout") }}">Đăng xuất</a>
    <br>

    <img src = "{{service.image}}" alt = "" height = '300' width= '200'>
    <h2> {{ service.name }} </h2>

    <p> Năm sinh: {{ service.yob }} </p>
    <p> Chiều cao: {{ service.height }}</p>
    <p> Số điện thoại: {{ service.phone }} </p>
    <p> Địa chỉ: {{ service.address }}</p>
    <p> Mô tả: 
        {% for description in service.descriptions %}
        {{ description }}, 
        {% endfor %}
    </p>
    <p> Số đo ba vòng: 
        {% for measurement in service.measurements %}
        {{ measurement }},
        {% endfor %}
    </p>

    <a href="{{ url_for("ordered") }}">Yêu cầu dịch vụ</a>
    
</body>
</html>