<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Đăng ký tài khoản</h1>
    <form method="POST">

        <label for="">Tên đầy đủ:</label>
        <br>
        <input type= "text" name= "fullname">
        <br>

        <label for="">Email: </label>
        <br>
        <input type= "text" name= "email">
        <br>

        <label for="">Tên đăng nhập: </label>
        <br>
        <input type= "text" name= "username">
        <br>

        <label for="">Mật khẩu: </label>
        <br>
        <input type= "password" name= "password">
        <br>

        <input type= "submit" value= "Submit">
    
    </form>
</body>
</html>