<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Informations</h2>
    
    <div>    
        <p> Name: {{ infos.name }} </p>
        <p> Age: {{ infos.age }} </p>
        <p> University: {{ infos.university }} </p>
        <p> Hobies: {{ infos.hobbies }} </p>
        <p> Dogs: {{ infos.dogs }} </p>
    </div>
   
</body>
</html>