<div class="bg-light">
    <h2 class="d-flex justify-content-center pt-5">Các gói dịch vụ</h2>
    <div class="py-5 d-flex justify-content-around">
        <div class="col-md-3 d-inline-block">
            {% include "homepage/sv-basic.html" %}
        </div>
        <div class="col-md-3 d-inline-block">
            {% include "homepage/sv-standard.html" %}
        </div>
        <div class="col-md-3 d-inline-block">
            {% include "homepage/sv-luxury.html" %}
        </div>
    </div>  
</div>