<div class="bg-light border mb-0">
    <h3 class="pl-3">Gói cơ bản</h3>
</div>
<div class="border">
    <p class="text-dark pl-3">Dẫn bạn về ra mắt</p> 
    <p class="text-dark pl-3">Ăn cơm cùng gia đình</p>
    <p class="text-secondary pl-3">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
    <p class="text-secondary pl-3">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
    <p class="text-white pl-3"></p>
</div>
<div class="border">
    <div class="btn btn-dark text-light my-2">
        <i class="far fa-heart"></i>
        Tìm hiểu thêm
    </div>
</div>